<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CLuedo | Game</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body class="container">
  <header class="section">
    <nav th:insert="Navigation"></nav>
  </header>
  <main class="section">
    <h1 class="title">Cluedo Liste</h1>
    <h2 class="subtitle">Reset Models</h2>
    <form action="/cluedo/list/reset" method="post">
      <button class="button is-danger" type="submit">Reset Data</button>
      <p class="help is-danger">All current data will be regenerated!</p>
    </form>
    <br>
    <h2 class="subtitle">Persons</h2>
    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
      <thead>
      <tr>
        <th>Avatar</th>
        <th>Name</th>
        <th>Age</th>
        <th>Weight</th>
        <th>Sex</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="person : ${persons}">
        <td>
          <img  th:src="@{'data:image/png;base64,'+${person.getImage()}}" />
        </td>
        <td th:text="${person.getName()}"></td>
        <td>
          <span th:text="${person.getAge()}"></span>
          <span th:if="${person.getAge()}>1">Years</span>
          <span th:if="${person.getAge()}==1">Year</span>
        </td>
        <td>
          <span th:text="${person.getWeight()}"></span> kg
        </td>
        <td th:text="${person.getSex()}"></td>
      </tr>
      </tbody>
    </table>
    <h2 class="subtitle">Cause of death</h2>
    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
      <thead>
      <tr>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="weapon : ${weapons}">
        <td>
          <span>Eaten by </span>
          <span th:text="${weapon.getName()}"></span>
        </td>
      </tr>
      </tbody>
    </table>
    <h2 class="subtitle">Location</h2>
    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
      <thead>
      <tr>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="room : ${rooms}">
        <td th:text="${room.getName()}"></td>
      </tr>
      </tbody>
    </table>
  </main>
</body>
</html>