<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CLuedo | Game</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body class="container">
    <header class="section">
        <nav th:insert="Navigation"></nav>
    </header>
    <main class="section">
        <h1 class="title">
            Cluedo Game
        </h1>
        <div class="field">
            <p th:text="${actor.getName()}"></p>
        </div>
    </main>
</body>
</html>